In [4]:
import numpy as np
import pandas as pd
import xlsxwriter
import re
from collections import namedtuple
import sys

In [8]:
input_file = sys.argv[1]

Calendar = namedtuple("Calendar",["week","day","hour","id","lecture","professor"]) 
with open(input_file,"r") as file:
    lines = file.read()
    
    ## Parser specification
    regex_predicate = re.compile("calendar\(([0-9]+),([0-9]+),([0-9]+),([0-9]+),lecture\(\"([a-zA-Z0-9]+)\",\"([a-zA-Z0-9]+)\"\)\)")
    regex_top_level = re.compile("(Answer: [0-9]+)\n(.+)")


    # Parse 2 hardcoded nested levels: 
    # lvl 1) multiple answer-set
    parsed_content = {}
    for answer_set_match in re.finditer(regex_top_level,lines):
        answer_set_name = answer_set_match.groups()[0]
        answer_set =  answer_set_match.groups()[1]
        # lvl 2) predicates
        predicates = [Calendar._make(predicate_match.groups()) for predicate_match in re.finditer(regex_predicate,answer_set)]
        
        # build dictionary of parsed answer-sets (normalizing the key value)
        parsed_content[answer_set_name.replace(": ","_")] = predicates

In [9]:
parsed_content

{'Answer_1': [Calendar(week='2', day='1', hour='5', id='14', lecture='subj1', professor='prof2'),
  Calendar(week='2', day='1', hour='5', id='19', lecture='subj1', professor='prof2'),
  Calendar(week='2', day='1', hour='8', id='27', lecture='subj1', professor='prof2'),
  Calendar(week='2', day='1', hour='2', id='51', lecture='subj1', professor='prof3'),
  Calendar(week='2', day='1', hour='8', id='44', lecture='subj2', professor='prof3'),
  Calendar(week='2', day='1', hour='8', id='35', lecture='subj3', professor='prof2'),
  Calendar(week='2', day='1', hour='2', id='18', lecture='subj3', professor='prof3'),
  Calendar(week='2', day='1', hour='2', id='48', lecture='subj4', professor='prof2'),
  Calendar(week='1', day='2', hour='7', id='2', lecture='subj2', professor='prof1'),
  Calendar(week='1', day='2', hour='8', id='20', lecture='subj2', professor='prof3'),
  Calendar(week='1', day='2', hour='8', id='49', lecture='subj2', professor='prof3'),
  Calendar(week='1', day='2', hour='8', id='5', lecture='subj3', professor='prof3'),
  Calendar(week='1', day='2', hour='8', id='33', lecture='subj3', professor='prof3'),
  Calendar(week='1', day='2', hour='8', id='36', lecture='subj3', professor='prof3'),
  Calendar(week='1', day='2', hour='8', id='23', lecture='subj4', professor='prof1'),
  Calendar(week='1', day='2', hour='8', id='52', lecture='subj4', professor='prof1'),
  Calendar(week='2', day='3', hour='2', id='15', lecture='subj1', professor='prof1'),
  Calendar(week='2', day='3', hour='7', id='47', lecture='subj1', professor='prof3'),
  Calendar(week='2', day='3', hour='7', id='56', lecture='subj1', professor='prof3'),
  Calendar(week='2', day='3', hour='8', id='21', lecture='subj2', professor='prof3'),
  Calendar(week='2', day='3', hour='8', id='39', lecture='subj2', professor='prof3'),
  Calendar(week='2', day='3', hour='8', id='42', lecture='subj2', professor='prof3'),
  Calendar(week='2', day='3', hour='4', id='22', lecture='subj4', professor='prof1'),
  Calendar(week='2', day='3', hour='4', id='45', lecture='subj4', professor='prof2'),
  Calendar(week='2', day='4', hour='2', id='57', lecture='subj1', professor='prof2'),
  Calendar(week='2', day='4', hour='2', id='29', lecture='subj1', professor='prof3'),
  Calendar(week='2', day='4', hour='8', id='2', lecture='subj2', professor='prof2'),
  Calendar(week='2', day='4', hour='8', id='43', lecture='subj2', professor='prof3'),
  Calendar(week='2', day='4', hour='5', id='28', lecture='subj3', professor='prof3'),
  Calendar(week='2', day='4', hour='5', id='54', lecture='subj4', professor='prof1'),
  Calendar(week='2', day='4', hour='8', id='55', lecture='subj4', professor='prof1'),
  Calendar(week='2', day='4', hour='6', id='52', lecture='subj4', professor='prof3'),
  Calendar(week='2', day='5', hour='3', id='12', lecture='subj1', professor='prof1'),
  Calendar(week='2', day='5', hour='2', id='13', lecture='subj1', professor='prof3'),
  Calendar(week='2', day='5', hour='3', id='31', lecture='subj1', professor='prof3'),
  Calendar(week='2', day='5', hour='3', id='9', lecture='subj2', professor='prof3'),
  Calendar(week='2', day='5', hour='6', id='25', lecture='subj3', professor='prof3'),
  Calendar(week='2', day='5', hour='1', id='58', lecture='subj4', professor='prof1'),
  Calendar(week='2', day='5', hour='4', id='10', lecture='subj4', professor='prof1'),
  Calendar(week='2', day='5', hour='6', id='32', lecture='subj4', professor='prof3'),
  Calendar(week='2', day='6', hour='2', id='17', lecture='subj1', professor='prof1'),
  Calendar(week='2', day='6', hour='2', id='50', lecture='subj2', professor='prof2'),
  Calendar(week='2', day='6', hour='4', id='34', lecture='subj2', professor='prof2'),
  Calendar(week='2', day='6', hour='1', id='1', lecture='subj3', professor='prof1'),
  Calendar(week='2', day='6', hour='2', id='46', lecture='subj3', professor='prof1'),
  Calendar(week='2', day='6', hour='5', id='4', lecture='subj3', professor='prof3'),
  Calendar(week='2', day='6', hour='6', id='16', lecture='subj4', professor='prof1'),
  Calendar(week='2', day='6', hour='5', id='7', lecture='subj4', professor='prof2'),
  Calendar(week='1', day='7', hour='5', id='6', lecture='subj2', professor='prof3'),
  Calendar(week='1', day='7', hour='2', id='41', lecture='subj3', professor='prof1'),
  Calendar(week='1', day='7', hour='6', id='37', lecture='subj3', professor='prof3'),
  Calendar(week='1', day='7', hour='6', id='38', lecture='subj4', professor='prof2'),
  Calendar(week='2', day='8', hour='2', id='26', lecture='subj1', professor='prof2'),
  Calendar(week='2', day='8', hour='1', id='3', lecture='subj2', professor='prof1'),
  Calendar(week='2', day='8', hour='3', id='11', lecture='subj2', professor='prof3'),
  Calendar(week='2', day='8', hour='3', id='30', lecture='subj3', professor='prof1'),
  Calendar(week='2', day='8', hour='3', id='24', lecture='subj3', professor='prof2'),
  Calendar(week='2', day='8', hour='7', id='53', lecture='subj4', professor='prof2'),
  Calendar(week='2', day='8', hour='3', id='40', lecture='subj4', professor='prof3'),
  Calendar(week='2', day='8', hour='4', id='8', lecture='subj4', professor='prof3')]}

#### Build timetable (TODO)

In [122]:
pd.pivot_table(df,columns=df.day.name, index=df.week.name,values=df.hour.name,aggfunc=np.count_nonzero)

day     1   10    2    3    4    5    6    7    8    9
week
1     8.0  NaN  NaN  NaN  NaN  NaN  8.0  NaN  NaN  NaN
2     NaN  NaN  8.0  8.0  8.0  8.0  NaN  8.0  8.0  NaN
3     NaN  8.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  8.0

In [121]:
df.day.name

'day'

In [55]:
timetable.to_excel("timetable.xlsx")